*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100vh;
  background: url('./assets/Backdrop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;

}
/* main area */
#app{
  display: grid;
  grid-template-columns: 220px 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
  "nav nav nav nav"
  "side main main main"
  "side result result result"
  "footer footer footer footer";
  min-height: 100vh;

}
/* navbar */
nav{
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: rgba(3, 3, 56,0.4);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo{
  font-size: 1.4rem;
  font-weight: bold;
}
.nav-right{
  display: flex;
  gap: 20px;
  
}
.nav-right a{
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.nav-right a:hover{
  color: rgb(101, 101, 204);
}
/* sidebar part */
#sidebar{
  grid-area: side;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  height: fit-content;
  position: sticky;
  top: 100px;

}
#sidebar h3 {
  margin-bottom: 30px;
}
#sidebar button{
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: rgba(255,255,255,0.1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
#sidebar button:hover {
  background: rgb(101, 101, 204);
}
/* main area */
#landing{
  grid-area: main;
  position: relative;
  
}
#results-section{
  grid-area: result;
}
#landing {
  z-index: 2;
}

#results-section {
  z-index: 1;
}
/* landing */
#landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
   padding: 40px 0;
  
}
.main-logo{
  font-size: 3rem;
  margin-bottom: 20px;
}
/* search */
.search-container{
  display: flex;
  gap: 10px;
}
.search-container input{
  padding: 12px;
  width: 300px;
  border: none;
  border-radius: 8px;
}
.search-container button{
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(101, 101, 204);
  color: white;
  cursor: pointer;
}

/* hero display part */
#results{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.hero-card{
  background-color: rgba(255,255,255,0.05);;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

}
.hero-card img {
  width: 100%;
  border-radius: 10px;
}
.hero-card:hover{
  transform: translate(-5px);
}
/* footer */
footer{
  grid-area: footer;
  text-align: center;
  padding: 10px;
  background: rgba(0,0,0,0.3);
}
.filter-btn.active {
  background: rgb(101, 101, 204);
  transform: scale(1.05);
}
/* .hidden {
  display: none;
} */